@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body * {
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 10%;
    border: 1px solid #1aaa1a; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
  }
  
   nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   nav .logo_ul img {
    width: 90px;
  }
  
   nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
   nav .logo_ul ul li {
    padding: 3px 15px;  
  }
  
   nav .logo_ul ul li a {
    text-decoration: none;
    color: #1dd90c;
    font-size: 12px;
    font-weight: bold;
    transition: .3s linear;
  }
  
   nav .logo_ul ul li a:hover {
  color: #1aaa1a;  
  }
  
   nav .search_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   nav .search_user input {
    padding: 3px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background:rgb(235, 239, 235);
    color: rgb(36, 60, 33);
    margin-right: 20px;
  }
  
   nav .search_user input::placeholder {
    color: rgb(4, 189, 4);
  }
  
  
   nav .search_user .search {
   position: absolute;
   width: 320px;
   height: 250px;
   /* border: 1px solid #1aaa1a; */
   right: 0;
   top: 60px;
   z-index: 99999;
   overflow-y: auto;   
  }
  
   nav .search_user .search::-webkit-scrollbar {
   width: 5px; 
   background: #1aaa1a;
   border-radius: 5px;
   visibility: hidden;
  }
  
   nav .search_user .search:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  
   nav .search_user .search:hover::-webkit-scrollbar {
    visibility: visible;
  }
  
   nav .search_user .search::-webkit-scrollbar-thumb {
     width: 5px; 
     background: #1dd90c;
     border-radius: 5px;
     visibility: hidden;
   }
  
   nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 0px;
    text-decoration: none; 
    /* display: none; */
  }
  
   nav .search_user .search .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181717;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    opacity: .5;
    z-index: -15;
  }
  
   nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 0;
    margin-left: 8px;
  }
   nav .search_user .search .card .cont {
    margin-left: 10px;
    color: rgb(30, 221, 13);    
  }
  
   nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
  }
  
   nav .search_user .search .card .cont p {
    font-size: 10px;
  }
  
   nav .search_user .search .card .cont span {
   background: #1aaa1a;
   color: #000;
   padding: 0px 3px;
   margin: 0px 5px 0px 10px;
   font-weight: 500;
  }
.main-login {
    width: 100vw;
    height: 100vh;
    background: #030303;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1 {
    color: #05eb05;
    font-size: 3vw;
}

.left-login-img {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #025806;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #94d76f56;
}

.card-login h1 {
    color: #00ff15;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px; 
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #050505;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #060606;
    background: #1eeb10;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login  h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-img {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }
}

