@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*  PÁGINA SÉRIES */
* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: relative;
    width: 80%;
    height: 90%;
    border: 1px solid #1dd90c;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px -1px #1aaa1a;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/img/largados\ e\ pelados\ brasil.jpg')no-repeat center center/cover;
    opacity: .8;
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    z-index: -1;
}

header video {
    position: absolute;
    width: 110%;
    height: 180%;
    top: -40%;
    z-index: -1;
}

header nav {
    width: 100%;
    height: 10%;
    border: 1px solid #1aaa1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #46e70c;
}

header nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .logo_ul img {
    width: 90px;
}

header nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .logo_ul ul li {
    padding: 3px 15px;  
}

header nav .logo_ul ul li a {
    text-decoration: none;
    color: #1dd90c;
    font-size: 12px;
    font-weight: bold;
    transition: .3s linear;
}

header nav .logo_ul ul li a:hover {
  color: #1aaa1a;  
}

header nav .search_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .search_user input {
    padding: 3px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background:rgb(6, 215, 6);
    color: rgb(53, 218, 3);
    margin-right: 20px;
}

header nav .search_user input::placeholder {
    color: rgb(6, 95, 6);
}

header nav .search_user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header nav .search_user .search {
   position: absolute;
   width: 320px;
   height: 250px;
   border: 1px solid #1aaa1a;
   right: 20px;
   top: 30px;
   z-index: 99999;
   overflow: hidden;
}

header nav .search_user .search::-webkit-scrollbar {
   width: 5px; 
   background: #1aaa1a;
   border-radius: 5px;
   visibility: hidden;
 }

 header nav .search_user .search:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  header nav .search_user .search:hover::-webkit-scrollbar {
    visibility: visible;
  }
 
  header nav .search_user .search::-webkit-scrollbar-thumb {
     width: 5px; 
     background: #1dd90c;
     border-radius: 5px;
     visibility: hidden;
   }

header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 0px;
    text-decoration:overline;
    display: flex;
}
header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 0px;
    text-decoration: overline;
    display: flex; 

}

header nav .search_user .search .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    opacity: .5;
    z-index: -15;
}

header nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 0;
    margin-left: 8px;
}
header nav .search_user .search .card .cont {
    margin-left: 10px;
    color: rgb(21, 205, 5);    
}

header nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

header nav .search_user .search .card .cont p {
    font-size: 10px;
}

header nav .search_user .search .card .cont span {
   background: #1aaa1a;
   color: #000;
   padding: 0px 3px;
   margin: 0px 5px 0px 10px;
   font-weight: 500;
}

header .content {
    position: relative;
    color: #fff;
    margin-top: 50px;
    padding-left: 50px;   
 }

 header .content h1 {
    font-size: 50px;   
 }

 header .content p {
    font-size: 11px;
    width: 350px;
    word-break: break-all; 
 }

 header .content .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
 }

 header .content .details h6 {
    color: rgb(255, 255, 255, .8);
    font-size: 10px;
    margin-right: 10px;
 }

 header .content .details h5 {
    color: rgb(142, 230, 48);
    font-size: 10px;
    margin-right: 10px;
 }

 header .content .details h4 {
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
 }

 header .content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 10px;
 }

 header .content .details h3 span {
    background: #1dd90c;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
 }

 header .content .details h3 i {
    margin-right: 5px;
 }

 header .content .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
 }
 
 header .content .btns a {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #63eb63, #076907);
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    animation: button is linear infinite;
 }

 @keyframes button {
    0% {
        background: linear-gradient(90deg, #63eb63, #076907)
    }
    12% {
        background: linear-gradient(45deg, #63eb63, #076907)
    }
    24% {
        background: linear-gradient(95deg, #63eb63, #076907)
    }
    36% {
        background: linear-gradient(145deg, #63eb63, #076907)
    }
    48% {
        background: linear-gradient(195deg, #63eb63, #076907)
    }
    60% {
        background: linear-gradient(245deg, #63eb63, #076907)
    }
    72% {
        background: linear-gradient(295deg, #63eb63, #076907)
    }
    100% {
        background: linear-gradient(360deg, #63eb63, #076907)
    }
 }

 header section {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: 20px;
    color: #fff;
 }

 header section .cards{
    position: relative;
    width: 50%;
    height: 160px;
    border: 1px solid #1aaa1a;
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x:unset;
 }

 header section .cards .card {
    position: relative;
    width: 130px;
    height: 180px;
    border: 1px solid #1aaa1a;
    border-radius: 10px;
    margin-right: 10px;
    background: #000;
    transition: .3s linear;
 }

 header section .cards .card .poster {
    width: 180%;
    height: 180%;
    border-radius: 10px;
    position: relative;
 }
/* FIM  PÁGINA SÉRIES */

 /* PÁGINA FILMES */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: relative;
    width: 80%;
    height: 90%;
    border: 1px solid #1dd90c;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px -1px #1aaa1a;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/img/a\ freira.jpg')no-repeat center center/cover;
    opacity: .8;
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    z-index: -1;
}

header video {
    position: absolute;
    width: 110%;
    height: 180%;
    top: -40%;
    z-index: -1;
}

header nav {
    width: 100%;
    height: 10%;
    border: 1px solid #1aaa1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

header nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .logo_ul img {
    width: 90px;
}

header nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .logo_ul ul li {
    padding: 3px 15px;  
}

header nav .logo_ul ul li a {
    text-decoration: none;
    color: #1dd90c;
    font-size: 12px;
    font-weight: bold;
    transition: .3s linear;
}

header nav .logo_ul ul li a:hover {
  color: #1aaa1a;  
}

header nav .search_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .search_user input {
    padding: 3px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background:floralwhite;
    color: azure;
    margin-right: 20px;
}

header nav .search_user input::placeholder {
    color: rgb(6, 95, 6);
}

header nav .search_user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header nav .search_user .search {
   position: absolute;
   width: 320px;
   height: 250px;
   border: 1px solid #1aaa1a;
   right: 0;
   top: 60px;
   z-index: 99999;
   overflow-y: auto;   
}

header nav .search_user .search::-webkit-scrollbar {
   width: 5px; 
   background: #1aaa1a;
   border-radius: 5px;
   visibility: hidden;
 }

 header nav .search_user .search:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  header nav .search_user .search:hover::-webkit-scrollbar {
    visibility: visible;
  }
 
  header nav .search_user .search::-webkit-scrollbar-thumb {
     width: 5px; 
     background: #1dd90c;
     border-radius: 5px;
     visibility: hidden;
   }

header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 0px;
    text-decoration: none; 
    display: none;
}

header nav .search_user .search .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181717;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    opacity: .5;
    z-index: -15;
}

header nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 0;
    margin-left: 8px;
}
header nav .search_user .search .card .cont {
    margin-left: 10px;
    color: rgb(255, 255, 255);    
}

header nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

header nav .search_user .search .card .cont p {
    font-size: 10px;
}

header nav .search_user .search .card .cont span {
   background: #1aaa1a;
   color: #000;
   padding: 0px 3px;
   margin: 0px 5px 0px 10px;
   font-weight: 500;
}

header .content {
    position: relative;
    color: #fff;
    margin-top: 50px;
    padding-left: 50px;   
 }

 header .content h1 {
    font-size: 50px;   
 }

 header .content p {
    font-size: 11px;
    width: 350px;
    word-break: break-all; 
 }

 header .content .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
 }

 header .content .details h6 {
    color: rgb(255, 255, 255, .8);
    font-size: 10px;
    margin-right: 10px;
 }

 header .content .details h5 {
    color: rgb(142, 230, 48);
    font-size: 10px;
    margin-right: 10px;
 }

 header .content .details h4 {
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
 }

 header .content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 10px;
 }

 header .content .details h3 span {
    background: #1dd90c;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
 }

 header .content .details h3 i {
    margin-right: 5px;
 }

 header .content .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
 }
 
 header .content .btns a {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #63eb63, #076907);
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    animation: button is linear infinite;
 }

 @keyframes button {
    0% {
        background: linear-gradient(90deg, #63eb63, #076907)
    }
    12% {
        background: linear-gradient(45deg, #63eb63, #076907)
    }
    24% {
        background: linear-gradient(95deg, #63eb63, #076907)
    }
    36% {
        background: linear-gradient(145deg, #63eb63, #076907)
    }
    48% {
        background: linear-gradient(195deg, #63eb63, #076907)
    }
    60% {
        background: linear-gradient(245deg, #63eb63, #076907)
    }
    72% {
        background: linear-gradient(295deg, #63eb63, #076907)
    }
    100% {
        background: linear-gradient(360deg, #63eb63, #076907)
    }
 }

 header section {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: 20px;
    color: #fff;
 }

 header section .cards{
    position: relative;
    width: 50%;
    height: 160px;
    border: 1px solid #1aaa1a;
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x:unset;
 }

 header section .cards .card {
    position: relative;
    width: 130px;
    height: 180px;
    border: 1px solid #1aaa1a;
    border-radius: 10px;
    margin-right: 10px;
    background: #000;
    transition: .3s linear;
 }

 header section .cards .card .poster {
    width: 180%;
    height: 180%;
    border-radius: 10px;
    position: relative;
 }
/* FIM  PÁGINA FILMES */

 /* PÁGINA LIVROS */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     padding: 0;
     margin: 0%;
     box-sizing: border-box;
 }
 
 body {
     width: 100%;
     height: 100vh;
     background: #000;
     font-family: 'Poppins', sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 header {
     position: relative;
     width: 80%;
     height: 90%;
     border: 1px solid #1dd90c;
     border-radius: 20px;
     overflow: hidden;
     box-shadow: 0px 0px 25px -1px #1aaa1a;
 }
 
 header::before {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: url('/img/a\ biblioteca\ da\ meia\ noite.webp')no-repeat center center/cover;
     opacity: .8;
     z-index: -1;
 }
 
 header::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: linear-gradient(180deg, transparent, #000);
     z-index: -1;
 }
 
 header video {
     position: absolute;
     width: 110%;
     height: 180%;
     top: -40%;
     z-index: -1;
 }
 
 header nav {
     width: 100%;
     height: 10%;
     /* border: 1px solid #1aaa1a; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #000;
 }
 
 header nav .logo_ul {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 header nav .logo_ul img {
     width: 90px;
 }
 
 header nav .logo_ul ul {
     display: flex;
     align-items: center;
     justify-content: center;
     list-style: none;
 }
 
 header nav .logo_ul ul li {
     padding: 3px 15px;  
 }
 
 header nav .logo_ul ul li a {
     text-decoration: none;
     color: #1dd90c;
     font-size: 12px;
     font-weight: bold;
     transition: .3s linear;
 }
 
 header nav .logo_ul ul li a:hover {
   color: #1aaa1a;  
 }
 
 header nav .search_user {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 header nav .search_user input {
     padding: 3px 10px;
     border-radius: 20px;
     border: none;
     outline: none;
     background:floralwhite;
     color: azure;
     margin-right: 20px;
 }
 
 header nav .search_user input::placeholder {
     color: rgb(6, 95, 6);
 }
 
 header nav .search_user img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }
 
 header nav .search_user .search {
    position: absolute;
    width: 320px;
    height: 250px;
    /* border: 1px solid #1aaa1a; */
    right: 0;
    top: 60px;
    z-index: 99999;
    overflow-y: auto;   
 }
 
 header nav .search_user .search::-webkit-scrollbar {
    width: 5px; 
    background: #1aaa1a;
    border-radius: 5px;
    visibility: hidden;
  }
 
  header nav .search_user .search:hover::-webkit-scrollbar-thumb {
     visibility: visible;
   }
 
   header nav .search_user .search:hover::-webkit-scrollbar {
     visibility: visible;
   }
  
   header nav .search_user .search::-webkit-scrollbar-thumb {
      width: 5px; 
      background: #1dd90c;
      border-radius: 5px;
      visibility: hidden;
    }
 
 header nav .search_user .search .card {
     position: relative;
     width: 100%;
     height: 50px;
     display: flex;
     align-items: center;
     margin-bottom: 5px;
     padding: 5px 0px;
     text-decoration: none; 
     display: none;
 }
 
 header nav .search_user .search .card::before {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: #181717;
     backdrop-filter: blur(5px);
     border-radius: 5px;
     opacity: .5;
     z-index: -15;
 }
 
 header nav .search_user .search .card img {
     width: 28px;
     height: 90%;
     border-radius: 0;
     margin-left: 8px;
 }
 header nav .search_user .search .card .cont {
     margin-left: 10px;
     color: rgb(255, 255, 255);    
 }
 
 header nav .search_user .search .card .cont h3 {
     font-size: 15px;
     line-height: 25px;
     overflow: hidden; 
     text-overflow: ellipsis;
     white-space: nowrap;
     width: 250px;
 }
 
 header nav .search_user .search .card .cont p {
     font-size: 10px;
 }
 
 header nav .search_user .search .card .cont span {
    background: #1aaa1a;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
 }
 
 header .content {
     position: relative;
     color: #fff;
     margin-top: 50px;
     padding-left: 50px;   
  }
 
  header .content h1 {
     font-size: 50px;   
  }
 
  header .content p {
     font-size: 11px;
     width: 350px;
     word-break: break-all; 
  }
 
  header .content .details {
     display: flex;
     align-items: center;
     margin-top: 10px;
  }
 
  header .content .details h6 {
     color: rgb(255, 255, 255, .8);
     font-size: 10px;
     margin-right: 10px;
  }
 
  header .content .details h5 {
     color: rgb(142, 230, 48);
     font-size: 10px;
     margin-right: 10px;
  }
 
  header .content .details h4 {
     color: #fff;
     font-size: 10px;
     margin-right: 10px;
  }
 
  header .content .details h3 {
     color: #fff;
     display: flex;
     align-items: center;
     font-size: 10px;
  }
 
  header .content .details h3 span {
     background: #1dd90c;
     color: #000;
     padding: 0px 3px;
     margin: 0px 5px 0px 5px;
     font-weight: 500;
  }
 
  header .content .details h3 i {
     margin-right: 5px;
  }
 
  header .content .btns {
     margin-top: 20px;
     display: flex;
     align-items: center;
  }
  
  header .content .btns a {
     padding: 8px 12px;
     font-size: 15px;
     font-weight: 600;
     background: linear-gradient(90deg, #63eb63, #076907);
     border-radius: 5px;
     color: #fff;
     margin-left: 10px;
     text-decoration: none;
     animation: button is linear infinite;
  }
 
  @keyframes button {
     0% {
         background: linear-gradient(90deg, #63eb63, #076907)
     }
     12% {
         background: linear-gradient(45deg, #63eb63, #076907)
     }
     24% {
         background: linear-gradient(95deg, #63eb63, #076907)
     }
     36% {
         background: linear-gradient(145deg, #63eb63, #076907)
     }
     48% {
         background: linear-gradient(195deg, #63eb63, #076907)
     }
     60% {
         background: linear-gradient(245deg, #63eb63, #076907)
     }
     72% {
         background: linear-gradient(295deg, #63eb63, #076907)
     }
     100% {
         background: linear-gradient(360deg, #63eb63, #076907)
     }
  }
 
   header section {
     position: absolute;
     width: 100%;
     height: auto;
     padding: 0px 50px;
     bottom: 20px;
     color: #fff;
  }
 
  header section .cards{
     position: relative;
     width: 50%;
     height: 160px;
     /* border: 1px solid #1aaa1a; */
     margin-top: 10px;
     display: flex;
     align-items: center;
     overflow-x:unset;
  }
 
   header section .cards .card {
     position: relative;
     width: 130px;
     height: 180px;
     /* border: 1px solid #1aaa1a; */
     border-radius: 10px;
     margin-right: 10px;
     background: #000;
     transition: .3s linear;
  }
 
   header section .cards .card .poster {
     width: 180%;
     height: 180%;
     border-radius: 10px;
     position: relative;
  }
/* FIM  PÁGINA LIVROS */

  