/* MINHA LISTA */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
body {
  background-image: url(../assets/Fundo1.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}


 nav {
  width: 100%;
  height: 10%;
  border: 1px solid #1aaa1a; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

 nav .logo_ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

 nav .logo_ul img {
  width: 90px;
}

 nav .logo_ul ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

 nav .logo_ul ul li {
  padding: 3px 15px;  
}

 nav .logo_ul ul li a {
  text-decoration: none;
  color: #1dd90c;
  font-size: 12px;
  font-weight: bold;
  transition: .3s linear;
}

 nav .logo_ul ul li a:hover {
color: #1aaa1a;  
}

 nav .search_user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

 nav .search_user input {
  padding: 3px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background:rgb(235, 239, 235);
  color: rgb(36, 60, 33);
  margin-right: 20px;
}

 nav .search_user input::placeholder {
  color: rgb(4, 189, 4);
}

 nav .search_user img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

 nav .search_user .search {
 position: absolute;
 width: 320px;
 height: 250px;
 /* border: 1px solid #1aaa1a; */
 right: 0;
 top: 60px;
 z-index: 99999;
 overflow-y: auto;   
}

 nav .search_user .search::-webkit-scrollbar {
 width: 5px; 
 background: #1aaa1a;
 border-radius: 5px;
 visibility: hidden;
}

 nav .search_user .search:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

 nav .search_user .search:hover::-webkit-scrollbar {
  visibility: visible;
}

 nav .search_user .search::-webkit-scrollbar-thumb {
   width: 5px; 
   background: #1dd90c;
   border-radius: 5px;
   visibility: hidden;
 }

 nav .search_user .search .card {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 0px;
  text-decoration: none; 
  /* display: none; */
}

 nav .search_user .search .card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181717;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  opacity: .5;
  z-index: -15;
}

 nav .search_user .search .card img {
  width: 28px;
  height: 90%;
  border-radius: 0;
  margin-left: 8px;
}
 nav .search_user .search .card .cont {
  margin-left: 10px;
  color: rgb(30, 221, 13);    
}

 nav .search_user .search .card .cont h3 {
  font-size: 15px;
  line-height: 25px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

 nav .search_user .search .card .cont p {
  font-size: 10px;
}

 nav .search_user .search .card .cont span {
 background: #1aaa1a;
 color: #000;
 padding: 0px 3px;
 margin: 0px 5px 0px 10px;
 font-weight: 500;
}

main {
  max-width: 700px;
  margin: 32px auto;
  width: 90%;
  display: grid;
  gap: 24px;
  padding-top: 100px;
}
main section {
  background-image: linear-gradient(90deg, #18c91b 0%,#359a09 50%, #afe25c 55%);
  padding-top: 4px;
  border-radius: 12px;
}
main section:nth-child(1) {
  animation: fromLeft 1.2s .4s backwards;
}
main section:nth-child(2) {
  animation: fromRight 1.2s .6s backwards;
}
main section:nth-child(3) {
  animation: fromLeft 1.2s .8s backwards;
}
main section:nth-child(4) {
  animation: fromRight 1.2s .9.9s backwards;
}
main section:nth-child(5) {
  animation: fromLeft 1.2s .9.9s backwards;
}
main section div {
  background: #000000;
  padding: 24px 32px 32px 32px;
  border-radius: 8px;

}
main section h2 {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 24px;
  line-height: 160%;
}
main section p {
  color: #0a0a0a;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
main ul li {
  transition: all .3s;
}
main ul li:hover {
  transform: scale(1.1);
}
main section img {
  width: 100px;
  border: 1px solid #020202;
  border-radius: 8px;
}
section ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
  
}
.div-button {
  transition: all .3s;
  max-width: 50px;
  margin: 80px auto;
}
.div-button:hover {
  transform: scale(1.1);
}
.div-button img {
  width: 20px;
}
.div-button button {
  color: #FFFFFF;
  background: #0ba948;
  border-radius: 8px;
  border: none;
  padding: 15px;
  cursor: pointer;
}
@keyframes fromLeft {
  from {
      opacity: 0;
      transform: translateX(-100px);    
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes fromRight {
  from {
      opacity: 0;
      transform: translateX(100px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
@media only screen and (max-width:700px) {
  nav {
      height: 50px;
      padding: 0 2%;
  }
  nav ul {
      width: 100%;
      justify-content: space-between;
  }
  nav div {
      display: none;
  }
  nav li {
      margin-left: 0;
  }
  nav li a {
      font-size: 0.5rem;
  }
  main section div {
      text-align: center;
  }
  main section ul {
      display: flex;
      justify-content: center;
  }
}
@media only screen and (min-width:701px) and (max-width:1165px) {
  nav {
      height: 50px;
      padding: 0 10%;
  }
  nav ul {
      width: 100%;
      justify-content: space-between;
  }
  nav div {
      display: none;
  }
  nav li {
      margin-left: 0;
  }
  nav li a {
      font-size: 1rem;
  }
}
/* FIM  MINHA LISTA */