@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
body{
    background-color:black;
    color: rgb(171, 243, 189);
}
section, footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color: rgb(11, 247, 70);
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: aliceblue;
    color: rgb(21, 95, 11);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.bnt:hover{
    background-color: rgb(241, 247, 247);

}
@keyframes animte-outline {
from{
    outline: 0px solid #0ea8548a;
}
to{
   outline: 15px solid #13cc2200;
}
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: rgb(98, 218, 74);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn):after{
    content: "";
    background-color: rgb(73, 236, 32);
    height: 3px;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
    color: #21a810;
}
/* manu mobile */
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}
nav .close-icon{
    display: none;
    font-size: 30px;
    color: whitesmoke;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: rgb(5, 160, 18);
}
.banner .banner-text p{
    font-size: 20px;
    color: rgb(253, 253, 253);
    font-weight: lighter;
    margin: 18px 0;
}
/* faca mais */
.faca-mais .container{
    display: flex;
    align-items: flex-end;
}
.faca-mais .faca-mais-text{
    width: 50%;
    padding: 0 40px;
    color: #21a810;
}
.faca-mais .faca-mais-text h3 {
    font-size: 56px;
}
.faca-mais .faca-mais-text p{
    margin: 5px 0 10px 0;
}
.faca-mais .faca-mais-img{
    width: 50%;
}
.faca-mais .faca-mais-img img{
    width: 50%;
}
/*depoimentos*/
.depoimentos h3{
    text-align: center;
}
.depoimentos p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
}
.depoimentos .card-item{
    background-color: rgb(7, 77, 7);
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}
.depoimentos .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}
.depoimentos .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.depoimento .card-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}
.depoimentos .card-item .estrelas{
    margin: 15px 0;
    border-top: 2px solid #1b5c1323;
    transition: 0.3s;
}
.depoimentos .card-item .estrelas i{
    color: #21a810;
    margin-top: 15px;
    font-size: 20px;
}
.depoimentos .card-item:hover{
    background-color: rgb(35, 136, 22);
    margin-top: -5px;
}
.depoimento .card-item:hover .nome-user,
.depoimento .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i{
    color: rgb(20, 65, 2);
}
/* colaboradores */
.colaboradores h3,
.colaboradores p{
    text-align: center;
}
.colaboradores .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* footer*/
.footer{
    background-color: forestgreen;
    text-align: center;
}
.footer i{
    color: antiquewhite;
    font-size: 19px;
    background-color: black;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}
.footer p{
    margin-top: 10px;
    color: antiquewhite;
}
/* Página sobre */
.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobre .sobre-text{
    width: 50%;
    padding-right: 40px;
}
.sobre .sobre-text p{
    margin: 18px 0;
    color: aliceblue;
}
/* end Página sobre */
/* Página lista */
.selecoes h3{
    text-align: center;  
}
.lista .container > p {
    text-align: center;    
}
.lista .rows-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.lista .row-card-item{
    background-color: rgb(66, 99, 10);
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}
.lista .row-card-item:hover{
    background-color: rgb(42, 68, 3);
}
.lista .row-card-item:hover p{
    color: rgb(255, 255, 255);
}
.lista .row-card-item img{
    background-color: rgb(7, 155, 51);
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}
.lista .row-card-item p.nome-lista{
    margin: 5px 0;
    transition: 0.3s;
}
.lista .row-card-item p.descricao-lista{
    transition: 0.3s;
}
/* end página lista*/
@media(max-width: 830px){
    /* menu mobile*/
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: green;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: ellipse(0% 40% at 100% 0%);
        transition: 0.7s;
    }
    .ul.open{
        clip-path: circle(71.7% at 50% 49%);
    }
    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }
    nav .menu-icon{
        display: block;
    }
    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
}

.box-busca{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #030303;
}
.search-box-input::placeholder {
    
    color:#ffffff;
    opacity: 0.6;
   
}
/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #ffffff; }
/* Firefox 19+ */
.search-box-input::-moz-placeholder { color: #ffffff; }
/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #ffffff; }
.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #4c4c4c;
    height: 45px;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
}
.search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #0e0d0d;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color: #3de72e;
   border: none;
   cursor: pointer;
   transition: .3s;
   
   
}
.search-box-button:active  {
    transform: scale(.85);
    
}
.search-box-icone {
    margin: auto;
    color: #020202;
}
@media screen and (min-width: 400px){
    
    .search-box:hover .search-box-input {
        width: 360px;
    }
}