 body {
     font-family: Arial, Helvetica, sans-serif;
     background-image: linear-gradient(to right, rgb(56, 168, 4), rgb(0, 0, 0));
 }

 .box {
     color: whitesmoke;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: rgba(0, 0, 0, 0.6);
     padding: 15px;
     border-radius: 15px;
     width: 20%;
 }

 fieldset {
     border: 3px solid rgb(8, 221, 19);
 }

 legend {
     border: 1px solid rgb(18, 138, 3);
     padding: 10px;
     text-align: center;
     background-color: rgb(56, 168, 4);
     border-radius: 8%;
 }

 .inputBox {
     position: relative;
 }

 .inputUser {
     background: none;
     border: none;
     border-bottom: 1px solid white;
     outline: none;
     color: white;
     font-size: 15px;
     width: 100%;
     letter-spacing: 2px;
 }

 .labelinput {
     position: absolute;
     top: 0px;
     left: 0px;
     pointer-events: none;
     transition: .5s;
 }

 .inputUser:focus~.labelinput,
 .inputUser:valid~.labelinput {
     top: -20px;
     font-size: 12px;
     color: rgb(18, 138, 3);
 }

 #data_nascimento {
     border: none;
     padding: 8px;
     border-radius: 10px;
     outline: none;
     font-size: 15px;
 }

 #submit {
     background-image: linear-gradient(to right, rgb(3, 141, 63), rgb(0, 135, 41));
     width: 100%;
     border: none;
     padding: 15px;
     color: white;
     font-size: 15px;
     cursor: pointer;
     border-radius: 10px;
 }

 a {
    color: rgb(98, 218, 74);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
