/* Estilo do botão dropdown */
/.dropbtn {
    display: flex;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Estilo do conteúdo do dropdown (oculto inicialmente) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Estilo dos links dentro do dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
}

/* Estilo dos links ao passar o mouse sobre eles */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Mostra o dropdown quando o botão é clicado */
.show {
    display: block;
}